.App {
  text-align: center;
  position: absolute;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.toolbar{
  background-color: rgba(86, 91, 92, 0.555);
  width: fit-content;
  display:flex;
  margin-left:auto;
  margin-right: auto;
  margin-top: 75vh;
  justify-content: center;
  border: solid 5px grey;
  border-radius: 10px;

}
.cont{
  position: absolute;
  padding: 0px;
}
.info{
  font-family: Courier new;
  margin: auto;
  width: fit-content;
  padding: 5px 15px 5px 15px;
  font-size: 30px;
  color: black;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  display: flex;
  flex-grow: 1;
}

.hd{
  align-items: left;
  position: fixed;
  max-width: 100px;
  margin-left: 0px;
}

#my_image {
  position: fixed;

  left: 0;
  top: 0;
  max-width: 200px;
}


.names{
  position: fixed;
  right: 0;
  top: 0;
}

.txt{
  font-style: italic;
  font-size: 1em;
  margin-top: -50;


}
